COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

SYSCONFIG MCCLK_FREQ=38.8 CONFIG_IOVOLTAGE=2.5 ; #BACKGROUND_RECONFIG=ON


LOCATE COMP "CLK" SITE "G3";
IOBUF  PORT "CLK" IO_TYPE=LVDS DIFFRESISTOR=100;
LOCATE COMP "CLK_TDC" SITE "L20";
IOBUF  PORT "CLK_TDC" IO_TYPE=LVDS DIFFRESISTOR=100 ;

LOCATE COMP "FLASH_CS" SITE "R2";
LOCATE COMP "FLASH_HOLD" SITE "W1";
LOCATE COMP "FLASH_MISO" SITE "V2";
LOCATE COMP "FLASH_MOSI" SITE "W2";
LOCATE COMP "FLASH_OVERRIDE" SITE "U1";
LOCATE COMP "FLASH_SCLK" SITE "U2";
LOCATE COMP "FLASH_SELECT" SITE "T3";
LOCATE COMP "FLASH_WP" SITE "Y2";
DEFINE PORT GROUP "FLASH_group" "FLASH*";
IOBUF GROUP "FLASH_group" IO_TYPE=LVCMOS25 ;

LOCATE COMP "PROGRAMN" SITE "V1";
IOBUF PORT "PROGRAMN" IO_TYPE=LVCMOS25 ;

LOCATE COMP "GPIO_0" SITE "B15";
LOCATE COMP "GPIO_1" SITE "C15";
LOCATE COMP "GPIO_2" SITE "A16";
LOCATE COMP "GPIO_3" SITE "B16";
DEFINE PORT GROUP "GPIO_group" "GPIO*";
IOBUF GROUP "GPIO_group" IO_TYPE=LVCMOS25 ;

LOCATE COMP "I2C_SCL" SITE "A17";
LOCATE COMP "I2C_SDA" SITE "A18";
IOBUF PORT "I2C_SCL" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I2C_SDA" IO_TYPE=LVCMOS25 ;

LOCATE COMP "LED_0" SITE "P19";
LOCATE COMP "LED_1" SITE "T17";
LOCATE COMP "LED_2" SITE "U16";
DEFINE PORT GROUP "LED_group" "LED*";
IOBUF GROUP "LED_group" IO_TYPE=LVCMOS25 ;

LOCATE COMP "LVDS_0" SITE "C18";
LOCATE COMP "LVDS_1" SITE "D18";
IOBUF  PORT "LVDS_0" IO_TYPE=LVDS DIFFRESISTOR=100;
IOBUF  PORT "LVDS_1" IO_TYPE=LVDS DIFFRESISTOR=100;

LOCATE COMP "RSTN_2" SITE "A6";
LOCATE COMP "SCK_2" SITE "A7";
LOCATE COMP "MOSI_2" SITE "A9";
LOCATE COMP "SCK_1" SITE "A10";
LOCATE COMP "RSTN_1" SITE "A12";
LOCATE COMP "MOSI_1" SITE "A14";
LOCATE COMP "MISO_1" SITE "U19";
LOCATE COMP "MISO_2" SITE "H1";
IOBUF  PORT "RSTN_2" IO_TYPE=LVDS25E;
IOBUF  PORT "SCK_2" IO_TYPE=LVDS25E;
IOBUF  PORT "MOSI_2" IO_TYPE=LVDS25E;
IOBUF  PORT "RSTN_1" IO_TYPE=LVDS25E;
IOBUF  PORT "MOSI_1" IO_TYPE=LVDS25E;
IOBUF  PORT "SCK_1" IO_TYPE=LVDS25E;
IOBUF  PORT "MISO_1" IO_TYPE=LVDS DIFFRESISTOR=100;
IOBUF  PORT "MISO_2" IO_TYPE=LVDS DIFFRESISTOR=100;



LOCATE COMP "OUTP_0" SITE "N19";
LOCATE COMP "OUTP_1" SITE "P20";
LOCATE COMP "OUTP_2" SITE "T20";
LOCATE COMP "OUTP_3" SITE "L18";
LOCATE COMP "OUTP_4" SITE "N18";
LOCATE COMP "OUTP_5" SITE "U18";
LOCATE COMP "OUTP_6" SITE "T19";
LOCATE COMP "OUTP_7" SITE "R16";
LOCATE COMP "OUTP_8" SITE "G19";
LOCATE COMP "OUTP_9" SITE "F20";
LOCATE COMP "OUTP_10" SITE "J20";
LOCATE COMP "OUTP_11" SITE "E20";
LOCATE COMP "OUTP_12" SITE "J19";
LOCATE COMP "OUTP_13" SITE "C20";
LOCATE COMP "OUTP_14" SITE "L19";
LOCATE COMP "OUTP_15" SITE "E18";
LOCATE COMP "OUTP_16" SITE "N3";
LOCATE COMP "OUTP_17" SITE "N2";
LOCATE COMP "OUTP_18" SITE "K2";
LOCATE COMP "OUTP_19" SITE "P1";
LOCATE COMP "OUTP_20" SITE "L3";
LOCATE COMP "OUTP_21" SITE "J4";
LOCATE COMP "OUTP_22" SITE "H2";
LOCATE COMP "OUTP_23" SITE "G2";
LOCATE COMP "OUTP_24" SITE "B5";
LOCATE COMP "OUTP_25" SITE "A4";
LOCATE COMP "OUTP_26" SITE "F2";
LOCATE COMP "OUTP_27" SITE "C4";
LOCATE COMP "OUTP_28" SITE "C1";
LOCATE COMP "OUTP_29" SITE "A3";
LOCATE COMP "OUTP_30" SITE "C3";
LOCATE COMP "OUTP_31" SITE "A2";
DEFINE PORT GROUP "OUTP_group" "OUTP*";
IOBUF GROUP "OUTP_group" IO_TYPE=LVDS;

LOCATE COMP "TRG" SITE "E16";
IOBUF  PORT "TRG" IO_TYPE=LVDS DIFFRESISTOR=100;


LOCATE COMP "TEST_0" SITE "B20";
LOCATE COMP "TEST_1" SITE "B19";
LOCATE COMP "TEST_2" SITE "D9";
LOCATE COMP "TEST_3" SITE "C8";
DEFINE PORT GROUP "Test_group" "TEST*";
IOBUF GROUP "TEST_group" IO_TYPE=LVCMOS25 ;
