COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

SYSCONFIG MCCLK_FREQ=38.8 CONFIG_IOVOLTAGE=2.5 ; #BACKGROUND_RECONFIG=ON
FREQUENCY PORT CLK       200 MHz;
BLOCK PATH TO   PORT "LED*";
BLOCK PATH TO   PORT "PROGRAMN";


LOCATE COMP "CLK" SITE "A4";
LOCATE COMP "TRG" SITE "B5";
IOBUF  PORT "CLK" IO_TYPE=LVDS DIFFRESISTOR=100;
IOBUF  PORT "TRG" IO_TYPE=LVDS DIFFRESISTOR=100;

LOCATE COMP "GPIO_0" SITE "L2";
LOCATE COMP "GPIO_1" SITE "L3";
LOCATE COMP "GPIO_2" SITE "M3";
LOCATE COMP "GPIO_3" SITE "N3";
LOCATE COMP "GPIO_4" SITE "H1";
LOCATE COMP "GPIO_5" SITE "G1";
LOCATE COMP "GPIO_6" SITE "K4";
LOCATE COMP "GPIO_7" SITE "K1";
LOCATE COMP "GPIO_8" SITE "D3";
LOCATE COMP "GPIO_9" SITE "C3";
LOCATE COMP "GPIO_10" SITE "E3";
LOCATE COMP "GPIO_11" SITE "F4";
DEFINE PORT GROUP "GPIO_group" "GPIO*";
IOBUF GROUP "GPIO_group" IO_TYPE=LVCMOS25 PULLMODE=UP;

LOCATE COMP "LVDS_0" SITE "P1";
LOCATE COMP "LVDS_1" SITE "N2";
LOCATE COMP "LVDS_2" SITE "K2";
LOCATE COMP "LVDS_3" SITE "G2";
LOCATE COMP "LVDS_4" SITE "C1";
LOCATE COMP "LVDS_5" SITE "A2";
DEFINE PORT GROUP "LVDS_group" "LVDS*";
IOBUF GROUP "LVDS_group" IO_TYPE=LVDS DIFFRESISTOR=100;

LOCATE COMP "FLASH_CS" SITE "R2";
LOCATE COMP "FLASH_HOLD" SITE "W1";
LOCATE COMP "FLASH_MISO" SITE "V2";
LOCATE COMP "FLASH_MOSI" SITE "W2";
LOCATE COMP "FLASH_OVERRIDE" SITE "U1";
LOCATE COMP "FLASH_SCLK" SITE "U2";
LOCATE COMP "FLASH_SELECT" SITE "T1";
LOCATE COMP "FLASH_WP" SITE "Y2";
DEFINE PORT GROUP "FLASH_group" "FLASH*";
IOBUF GROUP "FLASH_group" IO_TYPE=LVCMOS25 PULLMODE=UP ;

LOCATE COMP "PROGRAMN" SITE "V1";
IOBUF PORT "PROGRAMN" IO_TYPE=LVCMOS25 ;


LOCATE COMP "I2C_SCL" SITE "A14";
LOCATE COMP "I2C_SDA" SITE "A13";
IOBUF PORT "I2C_SCL" IO_TYPE=LVCMOS25 ;
IOBUF PORT "I2C_SDA" IO_TYPE=LVCMOS25 ;

LOCATE COMP "LED_0" SITE "C20";
LOCATE COMP "LED_1" SITE "D20";
LOCATE COMP "LED_2" SITE "E20";
LOCATE COMP "LED_3" SITE "F20";
LOCATE COMP "LED_4" SITE "G20";
LOCATE COMP "LED_5" SITE "H20";
LOCATE COMP "LED_6" SITE "J20";
LOCATE COMP "LED_7" SITE "K20";
DEFINE PORT GROUP "LED_group" "LED*";
IOBUF GROUP "LED_group" IO_TYPE=LVCMOS25 ;

LOCATE COMP "TEST_1" SITE "U19";
LOCATE COMP "TEST_2" SITE "N20";
LOCATE COMP "TEST_3" SITE "U20";
LOCATE COMP "TEST_4" SITE "M20";
LOCATE COMP "TEST_5" SITE "T20";
LOCATE COMP "TEST_6" SITE "L20";
LOCATE COMP "TEST_7" SITE "R20";
LOCATE COMP "TEST_8" SITE "P20";
DEFINE PORT GROUP "TEST_group" "TEST*";
IOBUF GROUP "TEST_group" IO_TYPE=LVCMOS25 ;


LOCATE COMP "TMP_ALERT" SITE "A12";
IOBUF PORT "TMP_ALERT" IO_TYPE=LVCMOS25 PULLMODE=UP;


LOCATE COMP "SFP_LOS" SITE "A7";
LOCATE COMP "SFP_TX_DIS" SITE "A8";
LOCATE COMP "SFP_MOD0" SITE "B9";
DEFINE PORT GROUP "SFP_group" "SFP*";
IOBUF GROUP "SFP_group" IO_TYPE=LVCMOS25 ;

LOCATE COMP "ADC_MISO" SITE "A17";
LOCATE COMP "ADC_MOSI" SITE "A18";
LOCATE COMP "ADC_SCK" SITE "A19";
LOCATE COMP "ADC_CS" SITE "B20";
DEFINE PORT GROUP "ADC_group" "ADC*";
IOBUF GROUP "ADC_group" IO_TYPE=LVCMOS25 ;


