#################################################################
# Basic Settings
#################################################################

FREQUENCY PORT CLK       200 MHz;

BLOCK PATH TO   PORT "LED*";
BLOCK PATH TO   PORT "PROGRAMN";
MULTICYCLE FROM CELL "THE_CLOCK_RESET/THE_RESET_HANDLER/final_reset*" 30 ns;
MULTICYCLE FROM CELL "THE_HUB/reset_i" 15 ns;
BLOCK PATH FROM CLKNET  "*/sci_read_i";
BLOCK PATH FROM CLKNET  "*/sci_write_i";


#MULTICYCLE TO CELL   "*/sci*" 20 ns;
#MULTICYCLE FROM CELL "*/sci*" 20 ns;
#MULTICYCLE TO CELL   "*/PROC_SCI_CTRL.wa*" 20 ns;
#BLOCK PATH TO CELL "*/sci_addr_*";

#FREQUENCY NET "THE_MEDIA_INTERFACE/THE_SERDES/serdes_0_inst/clk_tx_full" 200 MHz;
#FREQUENCY NET "THE_MEDIA_INTERFACE/THE_SERDES/serdes_1_inst/clk_tx_full" 200 MHz;
FREQUENCY NET "THE_DOWN_INTERFACE_2/gen_pcs2.THE_SERDES/serdes_sync_0_inst/clk_tx_full" 200 MHz;


FREQUENCY NET "clk_tx_full*" 200 MHz;
FREQUENCY NET "clk_rx_full*" 200 MHz;
FREQUENCY NET "clk_tx_full[0]_45649_CH0_FF_TXI_CLK" 200 MHz;
FREQUENCY NET "clk_tx_full[1]_45664_CH1_FF_TXI_CLK" 200 MHz;
FREQUENCY NET "clk_rx_full[0]_45645_CH0_FF_RXI_CLK" 200 MHz;
FREQUENCY NET "clk_rx_full[1]_45657_CH1_FF_RXI_CLK" 200 MHz;
FREQUENCY NET "THE_DOWN_INTERFACE_2/clk_rx_full" 200 MHz;

MULTICYCLE TO CELL "THE_MEDIA_INTERFACE/THE_SCI_READER/PROC_SCI_CTRL.BUS_TX*" 20 ns;
MULTICYCLE TO CELL "THE_MEDIA_INTERFACE/THE_MED_CONTROL/THE_TX/STAT_REG_OUT*" 20 ns;
MULTICYCLE TO CELL "THE_DOWN_INTERFACE_2/THE_SCI_READER/PROC_SCI_CTRL.BUS_TX*" 20 ns;
MULTICYCLE TO CELL "THE_DOWN_INTERFACE_2/THE_MED_CONTROL/THE_TX/STAT_REG_OUT*" 20 ns;

REGION               "MEDIA_LEFT" "R42C16D" 28 40;
REGION               "MEDIA_RIGHT" "R42C58D" 28 30;
LOCATE UGROUP        "THE_MEDIA_INTERFACE/media_interface_group" REGION "MEDIA_LEFT" ;
LOCATE UGROUP        "THE_DOWN_INTERFACE_2/media_interface_group" REGION "MEDIA_RIGHT" ;
